<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    aria-label="Go back to home"
    matTooltip="Go back to home"
    [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </button>
  <h1>Testing with ngMocks</h1>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <ng-container *ngFor="let f of features">
        <a mat-list-item [routerLink]="[f.path]" [activated]="f.activated">
          <mat-icon matListItemIcon *ngIf="!!f.icon">{{ f.icon }}</mat-icon>
          <div matListItemTitle>{{ f.title }}</div>
        </a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <section class="full-width-height">
      <h2>Examples :</h2>
      <div class="router-outlet-content">
        <router-outlet></router-outlet>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
